
@page
@model NASH1.Pages.Checkout.CheckoutModel
@{
}




<div class="align-context-center">
	<div class="col-3 mx-auto mb-5">
	
		<p>Your order for @Model.FoodName  the Pizza is ready!</p>
		<p>Total price fro your order is :@Model.FoodPrice rice</p>

		<br/>
		<a class ="btn alerr-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou" >Comfirm Order</a>
	</div>

</div>