@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">

    <h1 class="mainTitle">WELCOME TO NASH FOOD DELIVERY WEBSITE</h1>
    <hr style="width:100%;text-align:center;margin-left:0">
    <h2 class="mainSubTitle">Start ordering ur food now!</h2>
    <a class="btn btn-dark" asp-area="" asp-page="StartOrder">Order</a>
   

</div>


