@page
@model NASH1.Pages.Index3Model
@{
}

<body>
    <header>
        <h1 id="top">Nica plus</h1>
    </header>
    <hr>
   
    <div id="container1">
        <div id="row1">
            Welcome to Online FoodShop
        </div>
        <button class="btn">ORDER NOW</button>
        <div id="container3">
            <div id="row2">
                <button class="btn">Prices</button>
            </div>
            <div id="row3">
                <button class="btn">Specials</button>
            </div>
        </div>
    </div>
    <hr>
    <h1 id="top3">Featured Products</h1>
    <div id="container4">
        <div id="row4">
            <button class="btn">ORDER123 NOW</button>
        </div>
        <div id="row5">
            <button class="btn">ORDER123 NOW</button>
        </div>
        <div id="row6">
            <button class="btn">ORDER NOW</button>
        </div>
    </div>
    <footer>
        Copyright © 2020-2021 OnlineFoodShop.
        All Rights are reserved
    </footer>
</body>