@page
@model NASH1.Pages.Restaurant.MCDModel
@{
}

<body>
<div class="text-center container ">
	
	 <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Checkout">Order</a>/a>
   
	
</div></body>