@page
@model NASH1.Pages.Index3Model
@{
}

<h1 class="mainTitle">
    This is your food order 
</h1>
<h2 class="mainSubTitle">
    Your driver is on the way, please be patient
</h2>

<hr/>

<table class="table"   >
    <thead>
        <tr>
            <th>
                OrderID
            </th>
            <th>
                FoodName
            </th>
            <th>
                Amount
            </th>
            <th>
                Total Price
            </th>
        </tr>
    </thead>

</table>
