@page
@model NASH1.Pages.Orders.RestaurantModel
@{
}


<body>

    <h1 class="mainResTitle">hello please choose the restaurant u want</h1>
    <br/>
    <br/>
    <div class="cover">
        <div class="box">
            <img src="~/images/KFC.png" />
            <h2>KFC</h2>
            <a class="btn btn-primary mt-1" asp-area="" asp-page="KFC">Order</a>


        </div>

        <div class="box">
            <img src="~/images/MCD.png" />
            <h2>MCD</h2>
            <a class="btn btn-primary mt-1" asp-area="" asp-page="MCD">Order</a>
        </div>

        <div class="box">
            <img src="~/images/NicaPlus.png" />
            <h2>Nica Plus</h2>
            <a class="btn btn-primary mt-1" asp-area="" asp-page="NicaPlus">Order</a>
        </div>

    </div>
</body>