@page
@model NASH1.Pages.Orders.RestaurantModel
@{
}


<body>
    <h1>hello please choose the restaurant u want</h1>
    <div class="container">
        <div class="card">
            <div class="imagBx"
                <a href="#">
                    <img src="~/images/KFC.png" />
                </a>
                <h1>KFC</h1>
                <div class="mt-0">
                    <a class="btn btn-primary mt-1" asp-area="" asp-page="KFC">Order</a>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="imagBx"
                <a href="#">
                    <img src="~/images/MCD.png" />
                </a>
                <h1>MCD</h1>
                 <div class="mt-0">
                    <a class="btn btn-primary mt-1" asp-area="" asp-page="MCD">Order</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imagBx"
                <a href="#">
                    <img src="~/images/NicaPlus.png" />
                </a>
                <h1>Nica Plus</h1>
                 <div class="mt-0">
                     <a class="btn btn-primary mt-1" asp-area="" asp-page="NicaPlus">Order</a>
                </div>
            </div>
        </div>
    </div>
</body>