html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    
    background-image: url("Cover1.jpg");
    text-align: justify-all;
    background-color: lightgrey;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mainText {
    padding: 75px 20px;
}

.mainImage {
    border-radius: 20p;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
    margin: 40px;
}

.smallText {
    text-align: right;
    color: grey;
}

.makeYourOwnDiv {
    background: grey;
    margin: 0;
}

.makeYourOwnText {
    margin: 100px 0 20px 0;
    color: white;
}

.mainSubTitle {
    text-size-adjust: auto;
    padding: initial;
    margin: 10px 0 20px 0;
    color: black;
    text-align: center;
}

.mainTitle {
    padding:initial;
    font-weight: 900;
    font-size: 70px;
    margin: 200px 0 20px 0;
    text-align: center;
    color: black;
}

.hero-image {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

form {
    
    position:center;
    width: 100%;
    border-radius: 30px;
}


/*StartOrder*/
.form-style-1 {
    background-color:lightgrey;
    margin: 10px auto;
    max-width: 400px;
    padding: 100px 5px 100px 5px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

    .form-style-1 li {

        
        padding: 0;
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
    }

    .form-style-1 label {
        margin: 0 0 3px 0;
        padding: 0px;
        display: block;
        font-weight: bold;
    }

    .form-style-1 .field-divided {
        width: 100%;
    }

    .form-style-1 .field-long {
        width: 100;
    }

    .form-style-1 .field-select {
        width: 100%;
    }

    .form-style-1 .field-textarea {
        height: 100px;
    }

    .form-style-1 input[type=submit], .form-style-1 input[type=button] {
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
    }

        .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover {
            background: ;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }

    .form-style-1 .required {
        color: red;
    }


    /*Restaurant
    */



   .container.card{
       width:308px;
       position:relative;
       height:400px;
       background:#f0f0f0;
       margin:30px 10px;
       padding:20px 15px;
       display:flex;
       flex-direction:column;
       transition:0.3s easi-in-out;
       margin-top:5%;

   }

   .container .card .imgBx
   {
       position:relative;
       width:100px;
       height:100px;
       top:80px;
       left:50px;
       box-shadow:0 5px 20px rbga(0,0,0,1.2);
   }

   .container .card .imgBx img{
       max-width:100%;
       border-radius:10px;

   }
   

   /*restaurant*/


.mainResTitle {
    padding: initial;
    font-weight: 300;
    font-size: 50px;
    margin: 100px 0 100px 0;
    text-align: center;
    color: black;
}
.cover {
    width: 900px;
    height: 400px;
    margin-top: 50px;
    display: flex;
    margin:auto;
}

   .box{
       margin:10px;
       width:400px;
       height:400px;
       box-shadow: -1px 0 10px #0000;

   }

   img{
       width:200px;
       height:150px;
   }

   /*KFC*/
#menu {
    background: whitesmoke;
}

.brand-logo {
    padding: 0 30px;
}

    .brand-logo img {
        width: 150px;
        height: 150px;
        margin-top: -20px;
    }

.menu-item a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    margin: 12px;
    color: rgb(128,129,129);
    font-weight: 300;
}

    .menu-item a:hover {
        background: rgb(250,212,218);
    }




::-webkit-scrollbar {
    display: none;
}

#header .address {
    font-size: 20px;
}

.your-address {
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.add-box i {
    font-size: 20px;
}

.util i, .user i {
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
}

    .util i:active, user i:active {
        color: white;
        background: crimson;
    }

.food-items {
}

#nica, #pelicana {
    margin-top: 40px;
}

#category-name, .item-menu {
    margin: 10px;
    font-size: 35px;
    color: coral;
}

#item-card {
    
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px 0 10px 0;
    display: inline-block;
    border-radius: 10px;
    background-color:white;
    cursor: pointer;
    
}

#card-top {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
}



#item-card img {
   
    width: 120px;
    height: 100px;
    border-radius: 60%;
    margin: auto;
    display: auto;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
}



#item-name {
    margin: 5px 0;
    font-weight: 600;
    color: darkslategrey;
    font-size: 18px;
}

#item-price {
    margin: 0;
    color: rgb(2,27,27);
    font-size: 18px;
}

@media only screen and (max-width:1131px) {
    #row1 {
        width: 42vw;
    }

    #row2 {
        width: 45vw;
    }
}