@page
@model NASH1.Pages.Orders.StartOrderModel
@{
}

}

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="style.css">
	<title>ContactUs</title>
</head>

<body>
	<div id="ContactUs">
		<h1>Register Now </h1>
		<form action="#">
			
			<div class="form-shape">
				<label for="name">Name</label>
				<input type="text" name="myName"
					id="name"
					placeholder="Enter your Name">
			</div>
			<div class="form-shape">
				<label for="phone">Phone Number</label>
				<input type="number" name="myPhone"
					id="pho"
					placeholder="Enter your Phone number">
			</div>
			<div class="form-shape">
				<label for="email">Email</label>
				<input type="email" name="myEmail"
					id="email"
					placeholder="Enter your email">
			</div>

			<div class="form-shape">
				<label for="address">Address</label>
				<input type="text" name="myAddress"
					id="address"
					placeholder="Enter your address">
			</div>
			
			
			<div class="form-shape">
				<label for="message">
					Additional information for your driver
				</label>
				<textarea name="mesg" id="message"
					cols="30" rows="10">
				</textarea>
			</div>
            <div class="Check-box">
                <input type="checkbox" name="check" id="check">
                <label for="check">I agree to the terms and conditions</label>
			</div>
			<input type="submit" value="Submit">
			<input type="reset" value="Reset">
		</form>
	</div>
</body>
